<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Metro Control Panel</title>
 
 <!--
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  -->

    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <!--
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            -->
            <h3 class="text-muted">Metro Control Panel</h3>
        </div>

<!--
        <div class="jumbotron">
            <h1>Bucket List App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 -->
        <div class="row">
            <!--<div class="col-lg-12">-->

        <table class="table table-striped">
        <tr>
            <th>Node</th>
            <th>Status</th>
        </tr>
        {% for row in rowlist %}
        <tr>>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
        </tr>
        {% endfor %}
        </table>
             
            <!--</div>-->
        </div>

        <footer class="footer">
            <p>&copy; Karlis Goba 2016</p>
        </footer>
 
    </div>
</body>
 
</html>

